@import "./base/animations";
@import "./base/base";

.main-content {
  height: 80vh;
  width: 40%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;

  #filter {
    margin-bottom: 2rem;
  }
  #add-btn {
    width: 100%;
    position: absolute;
    bottom: 1rem;
  }
}
